
body{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}


h1{
    margin: 50px;
    color: #000;
    text-align: center;
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.menu{
	list-style: none;
	padding: 20px;
	background: #092327;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	display: flex;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #ef8354;
}

/* Submenu*/

.submenu1{
	position: absolute;
	background: #333333;
	width: 100px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu2{
	position: absolute;
	background: #333333;
	width: 100px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu3{
	position: absolute;
	background: #333333;
	width: 100px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu4{
	position: absolute;
	background: #333333;
	width: 100px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}



.submenu1 li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.submenu2 li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}
.submenu3 li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}
.submenu4 li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}


.menu li:hover .submenu1{
	visibility: visible;
	opacity: 1;
}

.menu li:hover .submenu2{
	visibility: visible;
	opacity: 1;
}

.menu li:hover .submenu3{
	visibility: visible;
	opacity: 1;
}

.menu li:hover .submenu4{
	visibility: visible;
	opacity: 1;
}

